---
import Button from "../components/Button.astro";
import EntryCard from "../components/EntryCard.astro";
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";
import { slugify } from "../lib/utils";

const { data, error } = await supabase
  .from("bif_entries")
  .select("*")
  .limit(10);
---

<Layout>
  <main class="py-lg max-w-5xl mx-auto">
    <h1 class="text-secondary font-heading text-4xl mb-lg">
      Best in Flower Mound
    </h1>
    {
      error && (
        <p class="text-wildflower-500 mb-md">
          Error loading entries: {error.message}
        </p>
      )
    }
    <div class="grid gap-6 md:grid-cols-2">
      {
        data?.map((item) => (
          <EntryCard
            name={item.name}
            description={item.description}
            address={item.address}
          />
        ))
      }
    </div>

    <div class="mt-lg text-center">
      <Button href="/add-entry">Add New Entry</Button>
    </div>
  </main>
</Layout>
