---
import CustomStyles from "../components/CustomStyles.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="m-0 w-full h-full bg-gray-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Best in FlowerMound</title>
    <CustomStyles />
  </head>
  <body class="m-0 w-full h-full">
    <div class="container mx-auto">
      <slot />
    </div>
  </body>
</html>
